{
    "url": "http://{{ server_name }}",
    "server": {
        "port": {{ ghost_port }},
        "host": "127.0.0.1"
    },
    "database": {
        "client": "mysql",
        "connection": {
            "host"     : "{{ ghost_db_host }}",
            "user"     : "{{ ghost_db_user }}",
            "password" : "{{ ghost_db_pass }}",
            "database" : "{{ ghost_db_name }}"
        }
    },
    "paths": {
        "contentPath": "content/"
    },
    "process": "systemd",
    "logging": {
        "level": "info",
        "rotation": {
            "enabled": true
        },
        "transports": ["file", "stdout"]
    }
}
