[Unit]
Description=Ghost
After=network.target

[Service]
Type=simple
WorkingDirectory={{ doc_root }}
User={{ ghost_service_user_uid }}
Environment="NODE_ENV=production"
ExecStart={{ node_path }}/npm start
Restart=always
SyslogIdentifier=Ghost

[Install]
WantedBy=multi-user.target
